@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Shared Styles */
.primary-btn {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 20px;
  background-color: rgba(229, 84, 115, 1);
  color: white;
  padding: 20px 43px;
  border-radius:8px;
  border: none;
  cursor: pointer;
  transition: .7s ease-in-out;
}

.primary-btn:hover {
  transition: .7s ease-in-out;
  background-color: rgb(250, 61, 102);
}

p {
  color: rgba(39, 39, 39, 0.6);
}

a {
  color: black;
}

/* General Styles */

body {
  display: flex;
  flex-direction: column;
  font-family: "Lato", sans-serif;
  align-items: center;
  gap: 100px;
}

/* Header Section */

header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(229, 84, 115, 0.1);
  width: 100vw;
  height: 92vh;
}
.header-sub {
  display: flex;
  width: 1400px;
  /* border: 2px solid black; */
}

.header-left {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
}

.header-left > h1 {
  font-size: 80px;
  font-weight: 800;
}

.header-left > p {
  font-size: 18px;
  line-height:2;
}

/* 
.header-right {
  height: 100%;
  width: 100%;
} */

.header-right {
  /* background-image: url("/assets/pngwing\ 10.png"); */
  /* object-fit: cover; */
  /* background-size: cover; */
  /* object-fit: cover; */
  /* height: 100%; */
  /* width: 100%; */
}

.header-right > img {
  margin-top:5rem;
  /* width: 635px; */
  /* height: 100%; */
}

/* Main Section */

main {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

main h1, main p {
  text-align: center;
}

main h1 {
  font-weight: 800;
  font-size: 40px;
}

main p {
  font-size: 18px;
}

.flower-trees {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.flower-tree {
  border-top-left-radius: 250px;
  border-top-right-radius: 250px;
  width: 464px;
  height: 538px;
}

.flower-tree img {
  margin: 67px 80px;
}

.flower-tree p {
  color: black;
  font-weight: bold;
  text-decoration: underline;
}

.pink {
  background-color: #F2DEE7;
}

.pink img {
  /* width: 100%; */
  width: 310px;
  height: 428px;
  margin-top: 110px;
}

.blue {
  background-color: #D9EFF1;

}

.blue > img {
  margin-left: 50px;
  margin-top: 110px;
}

.gray {
  background-color: #E3EBDB;
}
